<div class="container">
  <div class="row col-7 mt-5 mb-4 mx-auto">
    <div class="text-center title">
      <h2><%= @user.name %>様の予約一覧画面</h2>
    </div>
    <div class="text-center mt-3">
      <% if @reservations.count > 0 %>
        <p>下記の日時で予約されています。</p>
      <% else %>
        <p>予約がありません。</p>
      <% end %>
    </div>
    <table class="table mt-3">
      <% @reservations.each do |reservation| %>
        <tr class="text-center">
          <td><%= link_to reservation.day.strftime('%Y年%m月%d日'), admins_reservations_by_day_path(day: reservation.day) %></td>
          <td><%= reservation.start_time.strftime("%H:%M") %>　-　<%= reservation.end_time.strftime("%H:%M") %></td>
          <td><%= reservation.reservation_status %></td>
          <td><%= link_to "キャンセル", url_for([:admins, @user, reservation]), method: :delete, "data-confirm" => "本当に削除しますか？" %></td>
        </tr>
      <% end %>
    </table>
    <%= link_to "#{@user.name}様の登録情報", admins_user_path(@user), class: "text-center" %>
  </div>
</div>

