<div class="container">
  <div class="row col-7 mt-5 mb-4 mx-auto">
    <div class="text-center title">
      <h2><%= @user.name %>様の予約一覧画面</h2>
    </div>
    <div class="text-center mt-3">
      <% if @reservations.count > 0 %>
        <p>下記の日時で予約されています。</p>
      <% else %>
        <p>予約がありません。</p>
      <% end %>
    </div>
    <table class="table mt-3">
      <% @reservations.each do |reservation| %>
        <tr class="text-center">
          <td><%= reservation.day.strftime('%Y年%m月%d日') %></td>
          <td><%= reservation.time %></td>
          <td class="toggle_button col-auto">
            <span id="status-<%= reservation.id %>"><%= reservation.status %></span>
            <input id="toggle-<%= reservation.id %>" class="toggle_input" type="checkbox" data-reservation-id="<%= reservation.id %>" data-update-url="<%= admins_reservation_update_status_path(reservation) %>" <%= reservation.status ? 'checked' : '' %> />
            <label for="toggle-<%= reservation.id %>" class="toggle_label"></label>
          </td>
          <td><%= link_to "キャンセル", url_for([:admins, @user, reservation]), method: :delete, "data-confirm" => "本当に削除しますか？" %></td>
        </tr>
      <% end %>
    </table>
    <%= link_to "#{@user.name}様の登録情報", admins_user_path(@user), class: "text-center" %>
  </div>
</div>

<script>
  document.addEventListener('turbolinks:load', function() {
  const toggleInputs = document.querySelectorAll('.toggle_input');

  toggleInputs.forEach(function(input) {
    const reservationId = input.getAttribute('data-reservation-id');
    const storedStatus = localStorage.getItem(`reservation-${reservationId}-status`);
    const initialStatus = storedStatus ? storedStatus === 'true' : false;
    
    input.checked = initialStatus;
    
    input.addEventListener('change', function() {
      const reservationId = input.getAttribute('data-reservation-id');
      const status = input.checked;
      
      localStorage.setItem(`reservation-${reservationId}-status`, status);

      updateReservationStatus(reservationId, status);
    });
  });

  function updateReservationStatus(reservationId, status) {
    const csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
    const url = "/admins/reservations/" + reservationId + "/update_status";

    fetch(url, {
      method: 'PATCH',
      headers: {
        'Content-Type': 'application/json',
        'X-CSRF-Token': csrfToken
      },
      body: JSON.stringify({ status: status.toString() })
    })
    .then(function(response) {
      if (response.ok) {
        const statusElement = document.querySelector(`#status-${reservationId}`);
        const newStatus = status ? '確定' : '確認中';
        statusElement.textContent = newStatus;
      } else {
        // ステータスの更新が失敗した場合の処理を記述
      }
    })
    .catch(function(error) {
      console.error('Error:', error);
    });
  }
});
</script>