<div class="container days">
  <div class="row col-10 mt-5 mb-4 mx-auto">
    <div class="text-center title">
      <h2>スケジュール画面</h2>
      <h4>
        <%= @date.strftime('%Y年%m月%d日') %>
        <% if @date.sunday? %>
          <span class="text-center text-red">
            <%= @date.strftime('(%a)').gsub(/(Sun)/, {'Sun' => '日'}[@date.strftime('%a')]) %>
          </span>
        <% elsif @date.saturday? %>
          <span class="text-center text-blue">
            <%= @date.strftime('(%a)').gsub(/(Sat)/, {'Sat' => '土'}[@date.strftime('%a')]) %>
          </span>
        <% else %>
          <span class="text-center">
            <%= @date.strftime('(%a)').gsub(/(Mon|Tue|Wed|Thu|Fri)/, 
            {'Mon' => '月', 'Tue' => '火', 'Wed' => '水', 'Thu' => '木', 'Fri' => '金'}[@date.strftime('%a')]) %>
          </span>
        <% end %>
      </h4>
      <%= form_with url: admins_reservations_by_day_path, method: :get, local: true, id: "search-form" do |f| %>
        <%= f.label :day, "日付検索", class: "form-label" %>
        <%= f.date_field :day, value: @search_date, name: "day", id: "search-date" %>
      <% end %>
    </div>
    <div class="d-flex justify-content-between">
    <%= link_to "&laquo; #{'前の日'}".html_safe, admins_reservations_by_day_path(day: @date.yesterday) %>
    <%= link_to "#{'次の日'} &raquo;".html_safe, admins_reservations_by_day_path(day: @date.tomorrow) %>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th class="text-center col-1">日時</th>
          <th class="text-center col-2">予約</th>
          <th class="text-center col-5">備考</th>
          <th class="text-center col-2">ステータス</th>
          <th class="text-center col-2"></th>
        </tr>
      </thead>
      <tbody class="text-center">
        <% times.each do |time| %>
          <tr>
            <td class="table-light times"><%= time %></td>
            <% reservation = @reservations.find { |r| r.time == time } %>
            <% if reservation.present? %>
              <% if reservation.user.present? %>
                <td class="reserved"><%= link_to reservation.user.name, admins_user_path(reservation.user) %></td>
              <% elsif reservation.new_user_name.present? %>
                <td class="reserved"><%= reservation.new_user_name %></td>
              <% elsif reservation.admin.present? %>
                <td class="reserved"><%= reservation.admin.name %></td>
              <% else %>
                <td class="reserved">予約あり（ユーザー名未登録）</td>
              <% end %>
              <td><%= reservation.start_time.strftime("%H:%M") %>　-　<%= reservation.end_time.strftime("%H:%M") %><br><%= reservation.comment %></td>
              <td>
                <span id="status-<%= reservation.id %>"><%= reservation.reservation_status %></span>
                <label class="toggle col-auto">
                  <input id="toggle-<%= reservation.id %>" class="toggle-input" type="checkbox" data-reservation-id="<%= reservation.id %>" data-update-url="<%= admins_reservation_update_status_path(reservation) %>" <%= reservation.status ? 'checked' : '' %> />
                  <span for="toggle-<%= reservation.id %>" class="toggle-slider"></span>
                </label>
              </td>
              <td>
                <%= link_to "編集", edit_admins_reservation_path(reservation) %>
                ｜
                <%= link_to "削除", admins_reservations_by_day_path(id: reservation.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
              </td>
            <% else %>
              <td class="table-light"></td>
              <td class="table-light"></td>
              <td class="table-light"></td>
              <td class="table-light"><%= link_to "追加", new_admins_reservation_path(day: @date, time: time) %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<script>
  document.addEventListener("turbolinks:load", function() {
  const searchForm = document.querySelector("#search-form");
  const searchDate = document.querySelector("#search-date");

  if (searchDate) {
    searchDate.addEventListener("change", function() {
      searchForm.submit();
    });
  }
});
</script>


<script>
  document.addEventListener('turbolinks:load', function() {
    const toggleInputs = document.querySelectorAll('.toggle-input');

    toggleInputs.forEach(function(input) {
      const reservationId = input.getAttribute('data-reservation-id');
      const statusElement = document.querySelector(`#status-${reservationId}`);
      const storedStatus = localStorage.getItem(`reservation-${reservationId}-status`);
      const initialStatus = storedStatus ? storedStatus === 'true' : false;
      
      console.log('initialStatus:', initialStatus);
      
      if (input.checked !== initialStatus) {
        input.checked = initialStatus;
        updateStatusDisplay(statusElement, initialStatus);
      }

      input.addEventListener('change', function() {
        const status = input.checked;

        // ボタンの有効・無効を切り替える前にローカルストレージの値を更新
        localStorage.setItem(`reservation-${reservationId}-status`, status);

        // 非同期でステータスの更新リクエストを送信
        updateReservationStatus(reservationId, status, statusElement);
      });
    });

    function updateReservationStatus(id, status, statusElement) {
      const csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
      const url = "/admins/reservations/" + id + "/update_status";

      fetch(url, {
        method: 'PATCH',
        headers: {
          'Content-Type': 'application/json',
          'X-CSRF-Token': csrfToken
        },
        body: JSON.stringify({ status: status.toString() })
      })
        .then(function(response) {
          if (response.ok) {
            const newStatus = status ? '確定' : '確認中';
            updateStatusDisplay(statusElement, status);
          } else {
            console.error('ステータスの更新に失敗しました');
            setTimeout(function() {
              updateReservationStatus(id, status, statusElement);
            }, 5000);
          }
        })
        .catch(function(error) {
          console.error('Error:', error);
        });
    }
    
    function updateStatusDisplay(statusElement, status) {
      statusElement.textContent = status ? '確定' : '確認中';
    }
  });
</script>