<div class="container">
  <div class="row col-7 mx-auto">
    <h2 class="text-center mt-5 mb-4">登録情報の変更</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      
      <div class="field">
        <%= f.label :profile_image, "プロフィール画像" %><br>
        <%= f.file_field :profile_image, accept: "image/*", class: 'form-control' %>
      </div>
      
      <% if @temple.profile_image.attached? && !@temple.profile_image.blob.filename.to_s.eql?("default-image.png") %>
        <div>
          <%= image_tag @temple.profile_image.variant(resize: "100x100") %>
          <label>
            <%= f.check_box :remove_profile_image %>
            <%= f.label :remove_profile_image, "プロフィール画像を削除する" %>
          </label>
        </div>
      <% end %>
      
      <div class="field">
        <%= label :introduction, "紹介文" %><br>
        <%= f. text_area :introduction, rows: 10, class: 'form-control' %>
      </div>

      <div class="field">
        <%= f.label :name, "氏名" %><br>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
      
      <div class="field">
        <%= f.label :name_kana, "氏名(カナ)" %><br>
        <%= f.text_field :name_kana, class: 'form-control' %>
      </div>
  
      <div class="field">
        <%= f.label :postal_code, "郵便番号", id: "user_postal_code_label" %><br>
        <%= f.text_field :postal_code, class: 'form-control', id: "user_postal_code" %>
      </div>
  
      <div class="field">
        <%= f.label :prefecture_code, "都道府県", id: "user_prefecture_code_label" %><br>
        <%= f.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :name, :name, class: 'form-control', id: "user_prefecture_code" %>
      </div>
  
      <div class="field">
        <%= f.label :address, "住所", id: "temple_address_label" %><br>
        <%= f.text_field :address, class: 'form-control', id: "temple_address" %>
      </div>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autocomplete: "email", class: 'form-control' %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
  
      <div class="field">
        <%= f.label :phone_number, "電話番号" %><br>
        <%= f.text_field :phone_number, class: 'form-control' %>
      </div>

      <div class="field">
        <%= f.label :password, "新しいパスワード" %> <i>(変更したくない場合は空白のままにしてください)</i><br />
        <%= f.password_field :password, autocomplete: "new-password", placeholder: "※パスワードは#{@minimum_password_length}文字以上入力してください", class: 'form-control' %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, "確認用パスワード" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
      </div>

      <div class="field">
        <%= f.label :current_password, "現在のパスワード" %> <i>(変更するには現在のパスワードが必要です)</i><br />
        <%= f.password_field :current_password, autocomplete: "current-password", class: 'form-control' %>
      </div>

      <div class="actions pt-4">
        <%= f.submit "変更", class: "w-100" %>
      </div>
      
    <% end %>

    <h3 class="text-center mt-5 mb-4">アカウント削除</h3>
    <div class="text-center">
      <% if @temple.reservations.where("day >= ?", Date.today).exists? %>
        予約が作成されているため削除できません。
        <%= link_to "予約管理画面", all_temples_reservations_path(@temple) %>
      <% else %>
        アカウントを削除しますか？
        <%= button_to "削除", registration_path(resource_name), data: { confirm: "本当に削除しますか？", turbo_confirm: "本当に削除しますか？" }, method: :delete %>
      <% end %>
    </div>

    <%= link_to "キャンセル", temple_path(@temple), class: "text-center mt-3" %>

  </div>
</div>