<div class="container">
  <div class="row col-7 mx-auto">
    
    <h2 class="text-center mt-5 mb-4">管理メニュー</h2>
    
    <%= link_to 'お知らせ管理', posts_path %>
    
    <%= link_to "ユーザー管理", admins_users_path %>
    
    <%= link_to "予約管理", all_admins_reservations_path %>
    
    <%= link_to "カレンダー", reservations_month_path %>
    
    <%= link_to "スケジュール", admins_reservations_by_day_path(day: Time.zone.today) %>
    
  </div>
</div>
