<div class="container">
  <div class="row col-md-10 clo-sm-11 mx-auto">
    
    <div class="title text-center mt-5 mb-4">
      <h2>新規投稿</h2>
    </div>
    <%= render 'layouts/errors', model: @article %>
    
    <%= form_with model: @article do |f| %>
    
      <div>
        <h4>タイトル</h4>
        <%= f.text_field :title, class: 'form-control mb-3' %>
      </div>
      
      <div>
        <h4>本文</h4>
        <%= f.text_area :content, class: 'form-control mb-5', rows: 10 %>
      </div>
      
      <div class="text-center">
        <%= f.submit '投稿', class: "btn btn-outline-dark" %>
      </div>
      
    <% end %>
    
  </div>
</div>