<div class="container">
  <div class="row col-md-10 clo-sm-11 mx-auto">
    
    <div class="title text-center mt-5 mb-4">
      <h2>登録情報</h2>
    </div>
    
    <div class="d-flex justify-content-between">
      <div>
        <p>
          所属寺院: 
          <% if current_user.temple %>
            <%= link_to current_user.temple.name, temple_path(@temple.id) %>
          <% else %>
            なし
          <% end %>
        </p>
      </div>
      
      <div>
        <%= link_to "予約一覧", reservations_path(@user.id), class: "btn btn-outline-primary" %>
      </div>
    </div>
    
    
    <table class="table table-responsive form-table">
      <tbody>
      
        <tr class="field">
          <th>氏名</th>
          <td><%= @user.name %></td>
        </tr>
      
        <tr class="field">
          <th>氏名(カナ)</th>
          <td><%= @user.name_kana %></td>
        </tr>
      
        <tr class="field">
          <th>郵便番号</th>
          <td><%= number_with_hyphen_format(@user.postal_code) %></td>
        </tr>
      
        <tr class="field">
          <th>都道府県</th>
          <td><%= @user.prefecture_code %></td>
        </tr>
      
        <tr class="field">
          <th>市区町村</th>
          <td><%= @user.city %></td>
        </tr>
      
        <tr class="field">
          <th>番地</th>
          <td><%= @user.street %></td>
        </tr>
      
        <tr class="field">
          <th>建物名・部屋番号</th>
          <td><%= @user.other_address %></td>
        </tr>
      
        <tr class="field">
          <th>メールアドレス</th>
          <td><%= @user.email %></td>
        </tr>
      
        <tr class="field">
          <th>電話番号</th>
          <td><%= number_with_hyphen_format(@user.phone_number) %></td>
        </tr>
      
      </tbody>
    </table>
    
    <%= link_to "編集", edit_user_registration_path, class: "btn btn-outline-secondary text-center" %>
  </div>
</div>