<div class="container">
  <div class="row col-md-10 clo-sm-11 mx-auto">
    
    <div class="title text-center mt-5 mb-4">
      <h2>登録情報の変更</h2>
    </div>
    
    <%= form_with(model: [@user], url: admins_user_path(@user), method: :patch) do |f| %>
      <div class="<%= 'error-box' if @user.errors.any? %>">
        <%= render "layouts/error", model: @user %>
      </div>

      <table class="table table-responsive form-table">
        <tbody>
        
          <tr class="field">
            <th><%= f.label :name, "氏名" %></th>
            <td class="form-group <%= 'has-error' if @user.errors.include?(:name) %>">
              <%= f.text_field :name, class: 'form-control', id: 'edit-admin-user-name' %>
            </td>
          </tr>
      
          <tr class="field">
            <th><%= f.label :name_kana, "氏名(カナ)" %></th>
            <td class="form-group <%= 'has-error' if @user.errors.include?(:name_kana) %>">
              <%= f.text_field :name_kana, class: 'form-control', id: 'edit-admin-user-name-kana' %>
            </td>
          </tr>
  
          <tr class="field">
            <th><%= f.label :postal_code, "郵便番号" %></th>
            <td class="form-group <%= 'has-error' if @user.errors.include?(:postal_code) %>">
              <%= f.text_field :postal_code, class: 'form-control', id: 'edit-admin-user-postal-code' %>
            </td>
          </tr>
  
          <tr class="field">
            <th><%= f.label :prefecture_code, "都道府県" %></th>
            <td><%= f.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :name, :name, class: 'form-control' %></td>
          </tr>
  
          <tr class="field">
            <th><%= f.label :city, "市区町村" %></th>
            <td><%= f.text_field :city, class: 'form-control' %></td>
          </tr>
  
          <tr class="field">
            <th><%= f.label :street, "番地" %></th>
            <td><%= f.text_field :street, class: 'form-control' %></td>
          </tr>
  
          <tr class="field">
            <th><%= f.label :other_address, "建物名・部屋番号" %></th>
            <td><%= f.text_field :other_address, class: 'form-control' %></td>
          </tr>

          <tr class="field">
            <th><%= f.label :email, "メールアドレス" %></th>
            <td class="form-group <%= 'has-error' if @user.errors.include?(:email) %>">
              <%= f.email_field :email, autocomplete: "email", class: 'form-control', id: 'edit-admin-user-email' %>
            </td>
          </tr>
  
          <tr class="field">
            <th><%= f.label :phone_number, "電話番号" %></th>
            <td class="form-group <%= 'has-error' if @user.errors.include?(:phone_number) %>">
              <%= f.text_field :phone_number, class: 'form-control', id: 'edit-admin-user-phone-number' %>
            </td>
          </tr>
      
        </tbody>
      </table>
      
      <div class="actions pt-4">
        <%= f.submit "変更", class: "btn btn-outline-secondary w-100" %>
      </div>
      
    <% end %>
    
    <div class="text-center mt-5 mb-4">
      <h3>アカウント削除</h3>
    </div>
    
    <div class="text-center">
      <% if @user.reservations.where("day >= ?", Date.today).exists? %>
        <p>予約が作成されているため削除できません。</p>
        <%= link_to "#{@user.name}様の予約一覧", reservations_admins_user_path(@user), class: "btn btn-outline-primary" %>
      <% else %>
        <p>アカウントを削除しますか？</p>
        <%= button_to "削除", admins_user_path(@user), data: { confirm: "本当に削除しますか？", turbo_confirm: "本当に削除しますか？" }, method: :delete, class: "btn btn-outline-danger" %>
      <% end %>
    </div>
    
    <div class="text-center mt-3">
      <%= link_to "キャンセル", admins_user_path(@user) %>
    </div>

  </div>
</div>


<%= javascript_pack_tag 'admin_user_errors' %>