<div class="container">
  <div class="row col-lg-7 col-md-10 mx-auto">
    
    <h2 class="text-center mt-5 mb-4">ユーザー管理画面</h2>
    
    <div class="user_search">
      <%= form_tag(admins_users_path, method: :get, class: "input-group") do %>
        <%= text_field_tag(:search, params[:search], class: "form-control", placeholder: "名前を入力してください") %>
        <%= button_tag(type: "submit", class: "btn btn-outline-primary", id: "button-addon2") do %>
          <i class="fas fa-search"></i> 検索
        <% end %>
      <% end %>
    </div>
    
    <table class="table mt-5 text-center">
      <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td>
          <%= link_to admins_user_path(user.id) do %>
            <button class="btn btn-outline-primary">ユーザー詳細</button>
          <% end %>
        </td>
        <td>
          <%= link_to reservations_admins_user_path(user.id) do %>
            <button class="btn btn-outline-primary">予約一覧</button>
          <% end %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>