<div class="container">
  <div class="row col-7 mt-5 mb-4 mx-auto">
    
    <div class="text-center title">
      <h1>予約詳細画面</h1>
    </div>
    
    <table class="table mt-3 content">
      <tr>
        <th class="text-center">日付：<td><%= @reservation.day.strftime('%Y年%m月%d日') %></td></th>
      </tr>
      <tr>
        <th class="text-center">寺院：<td><%= link_to @temple.name, temple_path(@temple.id) %></td></th>
      </tr>
      <tr>
        <th class="text-center">時間：<td><%= @reservation.time %></td></th>
      </tr>
      <tr>
        <% if @reservation.user.present? %>
          <th class="text-center">ユーザー名：　　　<td><%= @reservation.user.name %></td></th>
        <% elsif @reservation.new_user_name.present? %>
          <th class="text-center">ユーザー名：　　　<td><%= @reservation.new_user_name %></td></th>
        <% elsif @reservation.temple.present? %>
          <th class="text-center">ユーザー名：　　　<td><%= @reservation.temple.name %></td></th>
        <% end %>
      </tr>
      <tr>
        <th class="text-center">ステータス：　　　<td><%= @reservation.reservation_status %></td></th>
      </tr>
      <% if @reservation.comment.present? %>
      <tr>
        <th class="text-center">備考欄：　<td><%= @reservation.comment %></td></th>
      </tr>
      <% end %>
    </table>
    
    <div class="text-center mt-3">
        <%= link_to "予約一覧へ", reservations_admins_user_path(@user) %>
    </div>
    
  </div>
</div>