<div class="container">
  <div class="row col-md-10 clo-sm-11 mx-auto">
    
    <div class="title text-center mt-5 mb-4">
      <h2>予約完了画面</h2>
    </div>
    
    <table class="table table-responsive user-reservation-table">
      <tbody>
      
        <tr class="field">
          <th>日付：</th>
          <td><%= @reservation.day.strftime('%Y年%m月%d日') %></td>
        </tr>
      
        <tr class="field">
          <th>寺院：</th>
          <td><%= link_to @temple.name, temple_path(@temple.id) %></td>
        </tr>
      
        <tr class="field">
          <% if user_signed_in? %>
            <th>時間：</th>
            <td><%= @reservation.start_time.strftime("%H:%M") %></td>
          <% elsif temple_signed_in? %>
            <th>時間：</th>
            <td><%= @reservation.start_time.strftime("%H:%M") %>　-　<%= @reservation.end_time.strftime("%H:%M") %></td>
          <% end %>
        </tr>
      
        <tr class="field">
          <% if @reservation.user.present? %>
            <th>ユーザー名：</th>
            <td><%= @reservation.user.name %></td>
          <% elsif @reservation.new_user_name.present? %>
            <th>ユーザー名：</th>
            <td><%= @reservation.new_user_name %></td>
          <% elsif @reservation.temple.present? %>
            <th>ユーザー名：</th>
            <td><%= @reservation.temple.name %></td>
          <% end %>
        </tr>
      
        <tr class="field">
          <th>ステータス：</th>
          <td><%= @reservation.reservation_status %></td>
        </tr>
      
        <% if temple_signed_in? %>
          <tr class="field">
            <th>備考欄：</th>
            <td><%= @reservation.comment %></td>
          </tr>
        <% end %>
      
      </tbody>
    </table>
    
    <div class="text-center">
      <% if user_signed_in? %>
        <% if @reservation.reservation_status == '確認中' || (@reservation.day != Time.zone.today && @reservation.day != Time.zone.tomorrow) %>
          <%= link_to "予約を取り消す", reservation_path(@reservation), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-outline-danger" %>
        <% elsif @reservation.reservation_status == '確定' && (@reservation.day == Time.zone.today || @reservation.day == Time.zone.tomorrow) %>
          <p>※当日、翌日のキャンセルは直接お電話でお知らせください。</p>
          <p>TEL: <%= @temple.phone_number %></p>
        <% end %>
      <% elsif temple_signed_in? %>
        <%= link_to "予約を取り消す", temples_reservations_by_day_path(id: @reservation.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-outline-danger" %>
      <% end %>
    </div>
    
    <% if user_signed_in? %>
      <div class="note text-center mt-3">
        <p>※まだ予約は確定されていません。お寺から確認のお電話を致しますのでお待ちください。</p>
        <p>※お寺の都合により予約をされた場合でもご希望の日時に添えない場合がございますがご了承ください。</p>
      </div>
    <% end %>
    
    <div class="text-center mt-3">
      <%= link_to '予約画面に戻る', temples_reservations_month_path(temple_id: @temple.id), class: "btn btn-outline-primary" %><br>
      <br>
      <% if temple_signed_in? %>
        <%= link_to "スケジュール画面へ", temples_reservations_by_day_path(day: @reservation.day.to_date, temple_id: current_temple.id), from_link: true, class: "btn btn-outline-primary" %>
      <% elsif user_signed_in? %>
        <%= link_to reservations_path do %>
          <button type="button" class="btn btn btn-outline-primary">
            <i class="fas fa-list-ul"></i> 予約一覧へ
          </button>
        <% end %>
      <% end %>
    </div>
    
  </div>
</div>
