<div class="simple-calendar">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center mt-5">
        <% if Date.parse(@date) == Date.today %>
          <%= '当日の予約はできません。閲覧のみ可能です。' %>
        <% end %>
        <h1><%= @date %></h1>
        <table class="table table-striped">
          <thead>
            <tr>
              <th class="text-center col-2">時間</th>
              <th class="text-center col-2">仮予約</th>
              <th class="text-center col-6">予約状況</th>
            </tr>
          </thead>

          <tbody>
            <% @times.each do |time| %>
              <tr>
                <td><%= time %></td>
                <td>
                  <% day = @date %>
            
                  <% if @reservations.exists?(day: day) %>
                    <%= '×' %>
                  <% else %>
                    <%= link_to new_reservation_path(day: day, time: time) do %>
                      <%= '○' %>
                    <% end %>
                  <% end %>
                </td>
                <td></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= link_to "戻る", reservations_path %>
      </div>
    </div>
  </div>
</div>
