<div class="container">
  <div class="row col-7 mt-5 mb-4 mx-auto">
    <div class="text-center title">
      <h2>予約一覧画面</h2>
    </div>
    <div class="text-center mt-3">
      <% if @reservations.count > 0 %>
        <p>下記の日時で予約されています。</p>
        <p>※（確定後）当日、翌日のキャンセルは直接お電話でお知らせください。</p>
        <p>TEL：<%= @admin.phone_number %></p>
      <% else %>
        <p>予約がありません。</p>
      <% end %>
    </div>
    <table class="table mt-3">
      <% @reservations.each do |reservation| %>
        <tr class="text-center">
          <td><%= link_to reservation.day.strftime('%Y年%m月%d日'), reservation_path(reservation) %></td>
          <td><%= reservation.time %></td>
          <td><%= reservation.reservation_status %></td>
          <td>
            <% if reservation.reservation_status == '確認中' || (reservation.day != Time.zone.today && reservation.day != Time.zone.tomorrow) %>
              <%= link_to "キャンセル", reservation_path(reservation), method: :delete, "data-confirm" => "本当に削除しますか？" %>
            <% else %>
              キャンセル
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>