<div class="container">
  <div class="row col-7 mt-5 mb-4 mx-auto">
    <div class="text-center title">
      <h1>仮予約完了画面</h1>
    </div>
    <table class="table mt-3 content">
      <tr>
        <th class="text-center">日付：<td><%= @reservation.day.strftime('%Y年%m月%d日') %></td></th>
      </tr>
      <tr>
        <th class="text-center">時間：<td><%= @reservation.time %></td></th>
      </tr>
    </table>
    <% unless admin_signed_in? %>
      <div>
        <p>※まだ予約は確定されていません。お寺から確認のお電話を致しますのでお待ちください。</p>
        <p>※お寺の都合により仮予約をされた場合でもご希望の日時に添えない場合がございますがご了承ください。</p>
      </div>
    <% end %>
    <div class="text-center mt-3">
      <%= link_to '予約画面に戻る', reservations_month_path %><br>
      <br>
      <% if admin_signed_in? %>
        <%= link_to "スケジュール画面へ", admins_reservations_by_day_path(day: @reservation.day.to_date), from_link: true %>
      <% elsif user_signed_in? %>
        <%= link_to "予約一覧へ", reservations_path %>
      <% end %>
    </div>
  </div>
</div>