<div class="container-fluid">
  <div class="row justify-content-center">
    <div id="particles-js"></div>
    <div id="wrapper">
      <h1 class="site-name">TempleConnect Online</h1>
      <p class="sub-title">～お寺と繋がろう～</p>
    </div>
  </div>
</div>
  
  <div class="home">
    <section id="top">
      <div class="container>">
        <div class="row">
          <div class="top-text col-10 mx-auto py-5 text-center">
            <p>当サイトでは架空の寺院情報や予約管理を運営しています。</p>
            <%= link_to temples_path do %>
              <button class="btn btn-outline-primary">寺院を探す</button>
            <% end %>
          </div>
        </div>
      </div>
    </section>

    <section id="information">
      <div class="container">
      
        <div class="row">
          <div class="information-title col-6 mx-auto mt-5">
            <h2>お知らせ</h2>
          </div>
        </div>
      
        <div class="row my-5">
          <% @posts.each do |post| %>
            <div class="information-content col-lg-4 col-md-10 col-sm-10 px-5 mx-auto">
              <h3 class="information-content-title"><%= post.title %></h3>
              <% if post.body.length <= 70 %>
                <p class="information-content-text"><%= post.body %></p>
              <% else %>
                <p class="information-content-text">
                  <%= truncate(post.body, length: 70) %>
                  <small><%= link_to "続きを読む", post_path(post) %></small>
                </p>
              <% end %>
              <small class="text-muted"><%= post.formatted_created_at %></small>
            </div>
          <% end %>
        </div>
      
        <div class="past-news text-center">
          <h4 class="pt-3 mb-4"><%= link_to "過去のお知らせはこちら", posts_path %></h4>
        </div>
      </div>
    </section>

    <section id="main">
      <div class="container border-bottom mt-5 pb-5">
        <div class="row py-5">
          <div class="main-content col-lg-5 col-md-10 mx-auto">
            <div class="main-title text-center mb-3">
              <h2>法事について</h2>
            </div>
            <p class="main-text">
              年忌法要など、ご法事の依頼を受け賜っています。仏事に関する疑問、ご相談などございましたら、お気軽にお尋ねください。
            </p>
          </div>
        
          <div class="main-content col-lg-5 col-md-10 mx-auto">
            <div class="main-title text-center mb-3">
              <h2>葬儀について</h2>
            </div>
            <p class="main-text">
              ご門徒の皆さまはもちろん、これまでお寺にご縁のなかった皆さまのご葬儀も大切にお勤めいたします。
            </p>
          </div>
        </div>
      
        <div class="row">
          <div class="main-content col-lg-5 col-md-10 mx-auto">
            <div class="main-title text-center mb-3">
              <h2>門徒会について</h2>
            </div>
            <p class="main-text">
              葬儀・法事の依頼等、継続的にお寺とのお付き合いを続けていただける方には、門徒会への加入をお願いしており、
              その門徒会によって他力本願寺は支えられています。
            </p>
          </div>
        
          <div class="main-content col-lg-5 col-md-10 mx-auto">
            <div class="main-title text-center mb-3">
              <h2>納骨堂について</h2>
            </div>
            <p class="main-text">
              現在、第5期納骨堂の新規加入者を募集しております。<br>
              第5期納骨堂には、<br>
              「御先祖様・御家族様用（１段式納骨壇）」<br>
              「お一人様・お二人様用（多段式納骨壇）」<br>
              の2種類の納骨壇がございます。<br>
              納骨堂は二階建てで、エレベーター完備です。
            </p>
          </div>
        </div>
      </div>
    </section>

    <section id="contact">
      <div class="container pt-5">
        <div class="contact">
          <h6>お問い合わせ先</h6>
          <p>
            <%= @admin.name %><br>
            〒<%= number_with_hyphen_format(@admin.postal_code) %><br>
            <%= @admin.address %><br>
            TEL：<%= @admin.phone_number %><br>
            FAX：012-345-6789
          </p>
        </div>
      </div>
    </section>
  
    <div class="map">
      <div id="map"></div>
    </div>
  
  </div>
  
  
  <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
  <script>
    particlesJS("particles-js", {
      "particles":{
        "number":{
          "value":20,
          "density":{
            "enable":true,
          "value_area":800
          }
        },
        "color":{
          "value":"#d0e38e"
        },
        "shape":{
          "type":"circle",
          "stroke":{
            "width":0,
            "color":"#000000"
          },
          "polygon":{
            "nb_sides":5
          },
          "image":{
            "src":"img/github.svg",
            "width":100,
            "height":100
          }
        },
        "opacity":{
          "value":1,
          "random":true,
          "anim":{
            "enable":true,
            "speed":1,
            "opacity_min":0,
            "sync":false
          }
        },
        "size":{
          "value":3,
          "random":true,
          "anim":{
            "enable":false,
            "speed":4,
            "size_min":0.3,
            "sync":false
          }
        },
        "line_linked":{
          "enable":false,
          "distance":150,
          "color":"#ffffff",
          "opacity":0.4,
          "width":1
        },
        "move":{
          "enable":true,
          "speed":3.2,
          "direction":"none",
          "random":true,
          "straight":false,
          "out_mode":"out",
          "bounce":false,
          "attract":{
            "enable":false,
            "rotateX":600,
            "rotateY":600
          }
        }
      },
      "interactivity":{
        "detect_on":"canvas",
        "events":{
          "onhover":{
            "enable":true,
            "mode":"bubble"
          },
          "onclick":{
            "enable":true,
            "mode":"repulse"
          },
          "resize":true
        },
        "modes":{
          "grab":{
            "distance":400,
            "line_linked":{
              "opacity":1
            }
          },
          "bubble":{
            "distance":250,
            "size":0,
            "duration":2,
            "opacity":0,
            "speed":3
          },
          "repulse":{
            "distance":400,
            "duration":0.4
          },
          "push":{
            "particles_nb":4
          },
          "remove":{
            "particles_nb":2
          }
        }
      },
      "retina_detect":true
    });
  </script>
  
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" async defer></script>
  <script>
  function initMap(){
    
    let mapPosition = {lat: <%= @admin.latitude %> , lng: <%= @admin.longitude %> };
    let map = new google.maps.Map(document.getElementById('map'), {
      zoom: 15,
      center: mapPosition
    });
    let transitLayer = new google.maps.TransitLayer();
    transitLayer.setMap(map);
    
    let contentString = '<%= @admin.address %>';
    let infowindow = new google.maps.InfoWindow({
      content: contentString
    });

    let marker = new google.maps.Marker({
      position: mapPosition,
      map: map,
      title: contentString
    });
  }
  </script>