<div class="container-fluid">
  <div class="row justify-content-center">
    <div id="particles-js"></div>
    <div id="wrapper">
      <h1 class="site-name">TempleConnect Online</h1>
      <p class="sub-title">～お寺と繋がろう～</p>
      <div class="moon"></div>
      <div class="temple-bell"></div>
    </div>
  </div>
</div>

  <div class="home">
    <section id="top">
      <div class="container>">
        <div class="row">
          <div class="top-text col-10 mx-auto py-5 text-center">
            <p>当サイトでは架空の寺院情報や予約管理を運営しています。</p>
            <%= link_to "寺院を探す", temples_path, class: "btn btn-lg btn-outline-primary" %>
          </div>
        </div>
      </div>
    </section>

    <section id="information">
      <div class="container">
      
        <div class="row">
          <div class="information-title col-6 mx-auto mt-5">
            <h2>お知らせ</h2>
          </div>
        </div>
      
        <div class="row my-5">
          <% @posts.each do |post| %>
            <div class="information-content col-lg-4 col-md-10 col-sm-10 px-5 mx-auto">
              <h3 class="information-content-title"><%= post.title %></h3>
              <% if post.body.length <= 70 %>
                <p class="information-content-text"><%= post.body %></p>
              <% else %>
                <p class="information-content-text">
                  <%= truncate(post.body, length: 70) %>
                  <small><%= link_to "続きを読む", post_path(post) %></small>
                </p>
              <% end %>
              <small class="text-muted"><%= post.formatted_created_at %></small>
            </div>
          <% end %>
        </div>
      
        <div class="past-news text-center">
          <h4 class="pt-3 mb-4"><%= link_to "過去のお知らせはこちら", posts_path %></h4>
        </div>
      </div>
    </section>

    <section id="main">
      <div class="container border-bottom mt-5 pb-5">
        <div class="row py-5">
          <div class="main-content col-lg-5 col-md-10 mx-auto">
            <div class="main-title text-center mb-3">
              <h2>利用について</h2>
            </div>
            <p class="main-text">
              当サイトは予約管理サービスを提供する架空のサイトです。どなたでもご利用いただけます。
              メンテナンスの予定や重要事項は運営からのお知らせをご確認ください。
            </p>
          </div>
        
          <div class="main-content col-lg-5 col-md-10 mx-auto">
            <div class="main-title text-center mb-3">
              <h2>予約について</h2>
            </div>
            <p class="main-text">
              予約は各寺院ページより行ってください。予約にはログインが必要です。予約画面では寺院の予約状況が確認できます。
            </p>
          </div>
        </div>
      
        <div class="row">
          <div class="main-content col-lg-5 col-md-10 mx-auto">
            <div class="main-title text-center mb-3">
              <h2>ユーザーについて</h2>
            </div>
            <p class="main-text">
              上部ヘッダーのメニューより新規登録またはログインが行えます。任意の寺院に所属または予約を行うと、登録情報が寺院へ開示されます。
            </p>
          </div>
        
          <div class="main-content col-lg-5 col-md-10 mx-auto">
            <div class="main-title text-center mb-3">
              <h2>寺院について</h2>
            </div>
            <p class="main-text">
              上部ヘッダーのメニューより寺院登録または寺院ログインが行えます。マイページからプロフィール画像や紹介文を設定できます。また、管理画面ではお知らせの投稿や予約・スケジュール管理などが可能です。
            </p>
          </div>
        </div>
      </div>
    </section>

    <section id="contact">
      <div class="container pt-5">
        <div class="contact">
          <h6>お問い合わせ先</h6>
          <p>
            <%= @admin.name %><br>
            〒<%= number_with_hyphen_format(@admin.postal_code) %><br>
            <%= @admin.address %><br>
            TEL：<%= number_with_hyphen_format(@admin.phone_number) %><br>
            FAX：012-345-6789
          </p>
        </div>
      </div>
    </section>
  
    <div class="map">
      <div id="map"></div>
    </div>
  
  </div>
  
  
  <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
  <%= javascript_pack_tag 'particles' %>
  
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" async defer></script>
  <script>
  function initMap(){
    
    let mapPosition = {lat: <%= @admin.latitude %> , lng: <%= @admin.longitude %> };
    let map = new google.maps.Map(document.getElementById('map'), {
      zoom: 15,
      center: mapPosition
    });
    let transitLayer = new google.maps.TransitLayer();
    transitLayer.setMap(map);
    
    let contentString = '<%= @admin.address %>';
    let infowindow = new google.maps.InfoWindow({
      content: contentString
    });

    let marker = new google.maps.Marker({
      position: mapPosition,
      map: map,
      title: contentString
    });
  }
  </script>