  <section id="top">
    <div class="container>">
      <div class="row">
        <div class="top-image">
          <%= image_tag("top.jpg") %>
        </div>
        <div class="top-text col-10 mx-auto py-5">
          <p>
            西圓寺（西円寺）は、京都の西本願寺をご本山とする浄土真宗本願寺派の寺院です。<br>
            <br>
            報恩講法要（12月）、彼岸会（3月,9月）、永代経法要（4〜5月）、宗祖降誕会（5月）、盂蘭盆会（8月）の各種法要のほか、
            壮年会、婦人会、子ども会、広報部会、さらには、コーラス、門信徒のつどい、ヨガ教室、グラウンドゴルフ、ゴルフなど、
            1年を通して様々な活動を行っています。<br>
            <br>
            地域の皆さまが気軽に楽しく足を運んでいただける「敷居の低いお寺」を目指しています。
          </p>
        </div>
      </div>
    </div>
  </section>


  <section id="information">
    <div class="container">
      <div class="row">
        <div class="information-image mt-5">
          <%= image_tag("information.jpg") %>
        </div>
      </div>
      <div class="row my-5">
        <% @posts.each do |post| %>
          <div class="information-content col-4 px-5">
            <h2 class="information-content-title"><%= post.title %></h2>
            <% if post.body.length <= 70 %>
              <p class="information-content-text"><%= post.body %></p>
            <% else %>
              <p class="information-content-text">
                <%= truncate(post.body, length: 70) %>
                <small><%= link_to "続きを読む", post_path(post) %></small>
              </p>
            <% end %>
            <small class="text-muted"><%= post.formatted_created_at %></small>
          </div>
        <% end %>
      </div>
      <div class="text-center">
      <h4 class="pt-3 mb-4"><%= link_to '過去のお知らせはこちら', posts_path %></h4>
      <%= link_to 'https://www.instagram.com/p/CrfRHEZvZvR/', target: "_blank", class: "insta-btn" do %>
        <span>
          <i class="fab fa-instagram"></i> Instagramはこちら
        </span>
      <% end %>
      </div>
    </div>
  </section>

  <section id="main">
    <div class="container border-bottom mt-5 pb-5">
      <div class="row py-5">
        <div class="main-content col-5 mx-auto">
          <div class="main-image mb-3">
            <%= image_tag("memorial-service.jpg") %>
          </div>
          <p class="main-text">
            年忌法要など、ご法事の依頼を受け賜っています。仏事に関する疑問、ご相談などございましたら、お気軽にお尋ねください。
          </p>
        </div>
        <div class="main-content col-5 mx-auto">
          <div class="main-image mb-3">
            <%= image_tag("funeral.jpg") %>
          </div>
          <p class="main-text">
            ご門徒の皆さまはもちろん、これまでお寺にご縁のなかった皆さまのご葬儀も大切にお勤めいたします。
          </p>
        </div>
      </div>
      <div class="row">
        <div class="main-content col-5 mx-auto">
          <div class="main-image mb-3">
            <%= image_tag("disciples-association.jpg") %>
          </div>
          <p class="main-text">
            浄土真宗では、いわゆる「檀家」「信者」という言葉の代わりに、「門徒」という言葉を用いてきました。
            「門徒」とは、一門の徒輩（同じ宗門の仲間）という意味です。つまり、親鸞聖人を宗祖と仰ぐとともに、
            お念仏申す中に、阿弥陀さまのおこころを聞いていく人々のことをいいます。
            葬儀・法事の依頼等、継続的にお寺とのお付き合いを続けていただける方には、門徒会への加入をお願いしており、
            その門徒会によって西圓寺は支えられています。
          </p>
        </div>
        <div class="main-content col-5 mx-auto">
          <div class="main-image mb-3">
            <%= image_tag("ossuary.jpg") %>
          </div>
          <p class="main-text">
            現在、第5期納骨堂の新規加入者を募集しております。<br>
            第5期納骨堂には、<br>
            「御先祖様・御家族様用（１段式納骨壇）」<br>
            「お一人様・お二人様用（多段式納骨壇）」<br>
            の2種類の納骨壇がございます。<br>
            納骨堂は二階建てで、エレベーター完備です。
          </p>
        </div>
      </div>
    </div>
  </section>

  <section id="contact">
    <div class="container pt-5">
      <div class="contact">
        <h6>お問い合わせ先</h6>
        <p>
          浄土真宗本願寺派 法輪山 <%= @admin.name %><br>
          〒<%= number_with_hyphen_format(@admin.postal_code) %><br>
          <%= @admin.address %><br>
          TEL：<%= @admin.phone_number %><br>
          FAX：093-776-1859
        </p>
      </div>
    </div>
  </section>
  
  
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" async defer></script>
  <script>
  function initMap(){
    
    let mapPosition = {lat: <%= @admin.latitude %> , lng: <%= @admin.longitude %> };
    let map = new google.maps.Map(document.getElementById('map'), {
      zoom: 15,
      center: mapPosition
    });
    let transitLayer = new google.maps.TransitLayer();
    transitLayer.setMap(map);
    
    let contentString = '<%= @admin.address %>';
    let infowindow = new google.maps.InfoWindow({
      content: contentString
    });

    let marker = new google.maps.Marker({
      position: mapPosition,
      map: map,
      title: contentString
    });
  }
  </script>
  
  
  <div class="map">
    <div id="map"></div>
  </div>