<div class="simple-calendar">
  <h3 class="calendar-title text-center mt-3"><%= start_date.year %>年 <%= t('date.month_names')[start_date.month] %></h3>
  <div class="calendar-heading d-flex justify-content-between">
    <% if Date.parse(calendar.url_for_previous_view) > Date.current.beginning_of_month %>
      <%= link_to t('simple_calendar.previous', default: "&laquo; #{'前月'}".html_safe), calendar.url_for_previous_view %>
    <% else %>
     <%= t('simple_calendar.previous', default: "&laquo; #{'前月'}".html_safe) %>
    <% end %>
    <%= link_to t('simple_calendar.next', default: "#{'翌月'} &raquo;".html_safe), calendar.url_for_next_view %>
  </div>
  <table class="table month_table">
    <thead class="table-light">
      <tr>
        <% date_range.slice(0, 7).each do |day| %>
          <th><%= t('date.abbr_day_names')[day.wday] %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% date_range.each_slice(7) do |week| %>
        <tr>
          <% week.each do |day| %>
            <% if Reservation.check_reservation_days(day).nil? %>
              <td class="<%= calendar.td_classes_for(day).join(' ') %> table-hover" data-date="<%= day.strftime("%Y-%m-%d") %>">
                <%= day.day %>
              </td>
            <% else %>
              <td class="<%= calendar.td_classes_for(day).join(' ') %>">
                <%= day.day %>
              </td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
    <script>
      document.addEventListener('turbolinks:load', function() {
          document.querySelectorAll('td[data-date]').forEach(function(td) {
            td.addEventListener('click', function(e) {
              let date = e.target.dataset.date;
              window.location.href = "/reservations/week?date=" + date;
            });
          });
        });
    </script>
  </table>
</div>