<div class="container">
  <div class="row col-md-10 clo-sm-11 mx-auto">
    
    <div class="title text-center mt-5 mb-4">
      <h2>お知らせ一覧</h2>
    </div>
    
    <% if admin_signed_in? %>
      <%= link_to "新規作成", new_post_path, class: "btn btn-outline-success" %>
    <% end %>
    
    <% @posts.each do |post| %>
    
      <div class="information-contents pb-5" onclick="location.href='<%= post_path(post.id) %>';">
        
        <div class="title mt-5 pb-2 pt-5">
          <h3><%= post.title %></h3>
        </div>
        
        <% if post.body.length <= 70 %>
          <div class="body">
            <p><%= post.body %></p>
          </div>
        <% else %>
          <div class="body">
            <p>
              <%= truncate(post.body, length: 70) %>
              <small><%= link_to "続きを読む", post_path(post) %></small>
            </p>
          </div>
        <% end %>
        
        <div class="text-muted">
          <small><%= post.formatted_created_at %></small>
        </div>
        
      </div>
      
    <% end %>
    
  </div>
</div>