<div class="container">
  <div class="row col-7 mt-5 mb-4 mx-auto">
    <div class="post-content pb-5">
      
      <h1 class="post-content-title text-center"><%= @post.title %></h1>
      
      <p class="post-content-text"><%= simple_format(@post.body) %></p>
      
      <small class="text-muted"><%= @post.formatted_created_at %></small>
      
      <% if admin_signed_in? %>
        ｜
        <%= link_to edit_post_path(@post) do %>
          <button class="btn btn-sm btn-outline-secondary">編集</button>
        <% end %>
        ｜
        <%= link_to post_path(@post.id), method: :delete, "data-confirm" => "本当に削除しますか？" do %>
          <button class="btn btn-sm btn-outline-danger">削除</button>
        <% end %>
      <% end %>
      
    </div>
  </div>
</div>