<div class="container">
  <div class="row col-7 mt-5 mb-4 mx-auto">
    <div class="information-contents pb-5">
      <h1 class="information-content-title text-center"><%= @post.title %></h1>
      <p class="information-content-text"><%= simple_format(@post.body) %></p>
      <small class="text-muted"><%= @post.formatted_created_at %></small>
      <% if admin_signed_in? %>
        ｜
        <%= link_to '編集', edit_post_path(@post) %>
        ｜
        <%= link_to "削除", post_path(@post.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
      <% end %>
    </div>
  </div>
</div>