<div class="container">
  <div class="row col-md-10 clo-sm-11 mx-auto">
    
    <div class="title text-center mt-5 mb-4">
      <h2>登録情報の変更</h2>
    </div>

    <%= form_with(model: [@temple], url: admins_temple_path(@temple), method: :patch) do |f| %>
      <div class="<%= 'error-box' if @temple.errors.any? %>">
        <%= render "layouts/error", model: @temple %>
      </div>

      <table class="table table-responsive form-table">
        <tbody>
          
          <tr class="field">
            <th><%= f.label :name, "氏名" %></th>
            <td class="form-group <%= 'has-error' if @temple.errors.include?(:name) %>">
              <%= f.text_field :name, class: 'form-control', id: 'edit-admin-temple-name' %>
            </td>
          </tr>
      
          <tr class="field">
            <th><%= f.label :name_kana, "氏名(カナ)" %></th>
            <td class="form-group <%= 'has-error' if @temple.errors.include?(:name_kana) %>">
              <%= f.text_field :name_kana, class: 'form-control', id: 'edit-admin-temple-name-kana' %>
            </td>
          </tr>
  
          <tr class="field">
            <th><%= f.label :postal_code, "郵便番号" %></th>
            <td class="form-group <%= 'has-error' if @temple.errors.include?(:postal_code) %>">
              <%= f.text_field :postal_code, class: 'form-control', id: 'edit-admin-temple-postal-code' %>
            </td>
          </tr>
  
          <tr class="field">
            <th><%= f.label :prefecture_code, "都道府県" %></th>
            <td class="form-group <%= 'has-error' if @temple.errors.include?(:prefecture_code) %>">
              <%= f.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :name, :name, class: 'form-control', id: 'edit-admin-temple-prefecture-code' %>
            </td>
          </tr>
  
          <tr class="field">
            <th><%= f.label :address, "住所" %></th>
            <td class="form-group <%= 'has-error' if @temple.errors.include?(:address) %>">
              <%= f.text_field :address, class: 'form-control', id: 'edit-admin-temple-address' %>
            </td>
          </tr>

          <tr class="field">
            <th><%= f.label :email, "メールアドレス" %></th>
            <td class="form-group <%= 'has-error' if @temple.errors.include?(:email) %>">
              <%= f.email_field :email, autocomplete: "email", class: 'form-control', id: 'edit-admin-temple-email' %>
            </td>
          </tr>
  
          <tr class="field">
            <th><%= f.label :phone_number, "電話番号" %></th>
            <td class="form-group <%= 'has-error' if @temple.errors.include?(:phone_number) %>">
              <%= f.text_field :phone_number, class: 'form-control', id: 'edit-admin-temple-phone-number' %>
            </td>
          </tr>
          
        </tbody>
      </table>

      <div class="actions pt-4">
        <%= f.submit "変更", class: "btn btn-outline-secondary w-100" %>
      </div>
      
    <% end %>

    <div class="text-center mt-5 mb-4">
      <h3>アカウント削除</h3>
    </div>
    
    <div class="text-center">
      アカウントを削除しますか？
      <%= button_to "削除", admins_temple_path(@temple), data: { confirm: "本当に削除しますか？", turbo_confirm: "本当に削除しますか？" }, method: :delete, class: "btn btn-outline-danger" %>
    </div>
    
    <div class="text-center mt-3">
      <%= link_to "キャンセル", admins_temple_path(@temple) %>
    </div>

  </div>
</div>


<%= javascript_pack_tag 'admin_temple_errors' %>