<div class="container">
  <div class="row col-md-10 clo-sm-11 mx-auto">
    
    <h2 class="text-center mt-5 mb-4">登録情報の変更</h2>

    <%= form_with(model: [@temple], url: admins_temple_path(@temple), method: :patch) do |f| %>

      <table class="table table-responsive form-table">
        <tbody>
          
          <tr class="field">
            <th><%= f.label :name, "氏名" %></th>
            <td><%= f.text_field :name, class: 'form-control' %></td>
          </tr>
      
          <tr class="field">
            <th><%= f.label :name_kana, "氏名(カナ)" %></th>
            <td><%= f.text_field :name_kana, class: 'form-control' %></td>
          </tr>
  
          <tr class="field">
            <th><%= f.label :postal_code, "郵便番号", id: "user_postal_code_label" %></th>
            <td><%= f.text_field :postal_code, class: 'form-control', id: "user_postal_code" %></td>
          </tr>
  
          <tr class="field">
            <th><%= f.label :prefecture_code, "都道府県", id: "user_prefecture_code_label" %></th>
            <td><%= f.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :name, :name, class: 'form-control', id: "user_prefecture_code" %></td>
          </tr>
  
          <tr class="field">
            <th><%= f.label :address, "住所", id: "temple_address_label" %></th>
            <td><%= f.text_field :address, class: 'form-control', id: "temple_address" %></td>
          </tr>

          <tr class="field">
            <th><%= f.label :メールアドレス %></th>
            <td><%= f.email_field :email, autocomplete: "email", class: 'form-control' %></td>
          </tr>
  
          <tr class="field">
            <th><%= f.label :phone_number, "電話番号" %></th>
            <td><%= f.text_field :phone_number, class: 'form-control' %></td>
          </tr>
          
        </tbody>
      </table>

      <div class="actions pt-4">
        <%= f.submit "変更", class: "btn btn-outline-secondary w-100" %>
      </div>
      
    <% end %>

    <h3 class="text-center mt-5 mb-4">アカウント削除</h3>
    <div class="text-center">
      アカウントを削除しますか？
      <%= button_to "削除", admins_temple_path(@temple), data: { confirm: "本当に削除しますか？", turbo_confirm: "本当に削除しますか？" }, method: :delete, class: "btn btn-outline-danger" %>
    </div>

    <%= link_to "キャンセル", admins_temple_path(@temple), class: "text-center mt-3" %>

  </div>
</div>