<div class="container">
  <div class="row col-7 mx-auto">
    
    <h2 class="text-center mt-5 mb-4">寺院一覧</h2>
    
      <%= form_tag(temples_path, method: :get, class: "input-group") do %>
        <%= text_field_tag(:search, params[:search], class: "form-control", placeholder: "寺院名を入力してください") %>
        <%= button_tag(type: "submit", class: "btn btn-outline-primary", id: "button-addon2") do %>
          <i class="fas fa-search"></i> 検索
        <% end %>
      <% end %>
    
    <table class="table mt-5">
      <% @temples.each do |temple| %>
      <tr>
        <td><%= temple.name %></td>
        <td><%= link_to "寺院詳細", admins_temple_path(temple.id) %></td>
      </tr>
      <% end %>
    </table>
  </div>
</div>