<div class="container">
  <div class="row col-7 mx-auto">
    
    <h2 class="text-center mt-5 mb-4">予約管理画面</h2>
    
    <div class="wrapper text-center">
      <ul class="tab">
        <li>全予約</li>
        <li>確定</li>
        <li>確認中<span class="notice"><%= @reservations.where(status: false).count %></span></li>
      </ul>

      <div id="all" class="area">
        <h2>全ての予約一覧</h2>
        <ul>
          <li>
            <% if @reservations.present? %>
            
              <table class="table">
                
                <thead>
                  <tr>
                    <th>予約</th>
                    <th>日付</th>
                    <th>時間</th>
                    <th>ステータス</th>
                  </tr>
                </thead>
                
                <tbody>
                  <% @sorted_reservations.each do |reservation| %>
                    <tr class="reservation-row" data-href="<%= temples_reservations_by_day_path(day: reservation.day) %>">
                      <td>
                        <% if reservation.user.present? %>
                          <%= reservation.user.name %>
                        <% elsif reservation.new_user_name.present? %>
                          <%= reservation.new_user_name %>
                        <% elsif reservation.temple.present? %>
                          <%= reservation.temple.name %>
                        <% end %>
                      </td>
                      <td><%= reservation.day.strftime("%Y年%m月%d日") %></td>
                      <td><%= reservation.start_time.strftime("%H:%M") %>　-　<%= reservation.end_time.strftime("%H:%M") %></td>
                      <td><%= reservation.reservation_status %></td>
                    </tr>
                  <% end %>
                </tbody>
                
              </table>
              
            <% else %>
              <p>予約はありません。</p>
            <% end %>
          </li>
        </ul>
      </div>

      <div id="confirm" class="area">
        <h2>確定している予約一覧</h2>
        <ul>
          <li>
            <% if @reservations.any? { |reservation| reservation.status == true } %>
            
              <table class="table">
                
                <thead>
                  <tr>
                    <th>予約</th>
                    <th>日付</th>
                    <th>時間</th>
                  </tr>
                </thead>
                
                <tbody>
                  <% @sorted_reservations.each do |reservation| %>
                    <% if reservation.status == true %>
                      <tr class="reservation-row" data-href="<%= temples_reservations_by_day_path(day: reservation.day) %>">
                        <td>
                          <% if reservation.user.present? %>
                            <%= reservation.user.name %>
                          <% elsif reservation.new_user_name.present? %>
                            <%= reservation.new_user_name %>
                          <% elsif reservation.temple.present? %>
                            <%= reservation.temple.name %>
                          <% end %>
                        </td>
                        <td><%= reservation.day.strftime("%Y年%m月%d日") %></td>
                        <td><%= reservation.start_time.strftime("%H:%M") %>　-　<%= reservation.end_time.strftime("%H:%M") %></td>
                      </tr>
                    <% end %>
                  <% end %>
                </tbody>
                
              </table>
              
            <% else %>
              <p>確定している予約はありません。</p>
            <% end %>
          </li>
        </ul>
      </div>

      <div id="confirming" class="area">
        <h2>確認中の予約一覧</h2>
        <ul>
          <li>
            <% if @reservations.any? { |reservation| reservation.status == false } %>
            
              <table class="table">
                
                <thead>
                  <tr>
                    <th>予約</th>
                    <th>日付</th>
                    <th>時間</th>
                    <th>予約受付</th>
                  </tr>
                </thead>
                
                <tbody>
                  <% @reservations.each do |reservation| %>
                    <% if reservation.status == false %>
                      <tr class="reservation-row" data-href="<%= temples_reservations_by_day_path(day: reservation.day) %>">
                        <td>
                          <% if reservation.user.present? %>
                            <%= reservation.user.name %>
                          <% elsif reservation.new_user_name.present? %>
                            <%= reservation.new_user_name %>
                          <% elsif reservation.temple.present? %>
                            <%= reservation.temple.name %>
                          <% end %>
                        </td>
                        <td><%= reservation.day.strftime("%Y年%m月%d日") %></td>
                        <td><%= reservation.start_time.strftime("%H:%M") %>　-　<%= reservation.end_time.strftime("%H:%M") %></td>
                        <td><%= reservation.created_at.strftime("%Y年%m月%d日 %H:%M") %></td>
                      </tr>
                    <% end %>
                  <% end %>
                </tbody>
                
              </table>
              
            <% else %>
              <p>確認中の予約はありません。</p>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>


<script>
  document.addEventListener("turbolinks:load", function() {
    var reservationRows = document.querySelectorAll(".reservation-row");
    Array.from(reservationRows).forEach(function(row) {
      row.addEventListener("click", function() {
        var url = this.dataset.href;
        if (url) {
          window.location.href = url;
        }
      });
    });
  });
</script>

<script>
  $('.tab li').on('click', function() {
    var tabIndex = $(this).index();
    $('.tab li').removeClass('active');
    $(this).addClass('active');
    $('.area').removeClass('is-active');
    $('.area').eq(tabIndex).addClass('is-active');
  });

  $('.tab li:first-of-type').addClass('active');
  $('.area:first-of-type').addClass('is-active');
</script>