<div class="container">
  <div class="row col-md-10 clo-sm-11 mx-auto">
    
    <div class="title text-center mt-5 mb-4">
      <h2><%= @user.name %>様の予約一覧画面</h2>
    </div>
    
    <div class="text-center">
      <%= link_to "#{@user.name}様の登録情報", temples_user_path(@user), class: "btn btn-outline-secondary" %>
    </div>
    
    <div class="text-center mt-3">
      <% if @reservations.present? %>
        <p>下記の日時で予約されています。</p>
      <% else %>
        <p>予約がありません。</p>
      <% end %>
    </div>
    
    <table class="table table-responsive user-reservations-table text-center mt-3">
      <% @reservations.each do |reservation| %>
        <tr class="field reserved <%= reservation.status ? 'active' : 'inactive' %>">
          <td><%= reservation.day.strftime('%Y年%m月%d日') %></td>
          <td><%= reservation.start_time.strftime("%H:%M") %>　-　<%= reservation.end_time.strftime("%H:%M") %></td>
          <td>
            <%= link_to "詳細", temples_reservations_by_day_path(day: reservation.day), class: "btn btn-sm btn-outline-primary" %>
            <%= link_to "削除", url_for([:temples, @user, reservation]), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-sm btn-outline-danger" %>
          </td>
        </tr>
      <% end %>
    </table>
    
  </div>
</div>