<header class="shadow-sm">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <%= link_to "浄土真宗本願寺派 法輪山 西圓寺", root_path, class: "navbar-brand" %>
      <span class="navbar-text">福岡県遠賀郡岡垣町の寺院です</span>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <%= link_to "ホーム", root_path, class: "nav-link" %>
          </li>
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to "マイページ", user_path(current_user), class: "nav-link" %>
            </li>
          <% end %>
          <li class="nav-item">
            <%= link_to "お知らせ", posts_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "仮予約", reservations_path, class: "nav-link" %>
          </li>
          <% if admin_signed_in? %>
            <li class="nav-item">
              <%= link_to "投稿", new_post_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "nav-link" %>
            </li>
          <% elsif user_signed_in? %>
            <li class="nav-item">
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link" %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "新規登録", new_user_registration_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "ログイン", new_user_session_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "管理者ログイン", new_admin_session_path, class: "nav-link" %>
            </li>
          <% end %>
          <% unless admin_signed_in? %>
            <% if current_page?(root_path) %>
              <li class="nav-item">
                <%= link_to "お問い合わせ", "#contact", class: "nav-link" %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to "お問い合わせ", root_path(anchor: 'contact'), class: "nav-link" %>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>