<header class="shadow-sm">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <span class="navbar-brand">THE・TEMPLE</span>
      <span class="navbar-text">寺院紹介から予約まで行える架空のサイトです</span>
      
        <div class="navbar-toggler openbtn" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false">
          <span></span>
          <span></span>
          <span></span>
        </div>
      
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mx-auto">
          
          <% unless admin_signed_in? %>
          
            <li class="nav-item">
              <%= link_to "ホーム", root_path, class: "nav-link" %>
            </li>
            
            <% if user_signed_in? %>
          
              <li class="nav-item">
                <%= link_to "マイページ", user_path(current_user), class: "nav-link" %>
              </li>
            
            <% elsif temple_signed_in? %>
          
              <li class="nav-item">
                <%= link_to "マイページ", temple_path(current_temple), class: "nav-link" %>
              </li>
            
            <% end %>
          
            <li class="nav-item">
              <%= link_to "お知らせ", posts_path, class: "nav-link" %>
            </li>
          
            <% if current_page?(root_path) %>
            
              <li class="nav-item">
                <%= link_to "お問い合わせ", "#contact", class: "nav-link" %>
              </li>
              
            <% else %>
            
              <li class="nav-item">
                <%= link_to "お問い合わせ", root_path(anchor: 'contact'), class: "nav-link" %>
              </li>
              
            <% end %>
          <% end %>
          
          <% if admin_signed_in? %>
          
            <li class="nav-item">
              <%= link_to "管理メニュー", admins_path, class: "nav-link" %>
            </li>
            
            <li class="nav-item">
              <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "nav-link" %>
            </li>
            
          <% elsif user_signed_in? %>
          
            <li class="nav-item">
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link" %>
            </li>
            
          <% elsif temple_signed_in? %>
          
            <li class="nav-item">
              <%= link_to "ログアウト", destroy_temple_session_path, method: :delete, class: "nav-link" %>
            </li>
            
          <% else %>
          
            <li class="nav-item">
              <%= link_to "新規登録", new_user_registration_path, class: "nav-link" %>
            </li>
            
            <li class="nav-item">
              <%= link_to "ログイン", new_user_session_path, class: "nav-link" %>
            </li>
            
            <li class="nav-item">
              <%= link_to "寺院登録", new_temple_registration_path, class: "nav-link" %>
            </li>
            
            <li class="nav-item">
              <%= link_to "寺院ログイン", new_temple_session_path, class: "nav-link" %>
            </li>
            
            <li class="nav-item">
              <%= link_to "管理者ログイン", new_admin_session_path, class: "nav-link" %>
            </li>
            
          <% end %>
          
        </ul>
      </div>
    </div>
  </nav>
</header>


<script>
  $(document).on('turbolinks:load', function() {
    $(".openbtn").click(function () {
      $(this).toggleClass('active');
      $("#navbarNavDropdown").toggleClass('show');
    });
  });
</script>
