<div class="container">
    
  <h2 class="text-center mt-5 mb-5">管理メニュー</h2>
  
  <div class="card-list row d-flex justify-content-md-between justify-content-center pt-5">
    
    <div class="card management text-center col-lg-5 col-md-5 col-sm-8 col-10 mb-5">
      <div class="card-body" onclick="location.href='<%= articles_path(temple_id: @temple.id) %>';">
        <div class="card-icon">
          <i class="fas fa-book-open fa-5x" style='color:lightgreen;'></i>
        </div>
        <div class="card-text">
          <p>お知らせ管理</p>
        </div>
      </div>
    </div>
    
    <div class="card management text-center col-lg-5 col-md-5 col-sm-8 col-10 mb-5">
      <div class="card-body" onclick="location.href='<%= temples_users_path(id: @temple.id) %>';">
        <div class="card-icon">
          <i class="fas fa-user fa-5x" style='color:skyblue;'></i>
        </div>
        <div class="card-text">
          <p>ユーザー管理</p>
        </div>
      </div>
    </div>
    
    <div class="card management text-center col-lg-5 col-md-5 col-sm-8 col-10 mb-5">
      <div class="card-body" onclick="location.href='<%= all_temples_reservations_path(id: @temple.id) %>';">
        <div class="card-icon">
          <i class="fas fa-calendar-check fa-5x" style='color:lightpink;'></i>
        </div>
        <div class="card-text">
          <p>予約管理</p>
        </div>
      </div>
    </div>
    
    <div class="card management text-center col-lg-5 col-md-5 col-sm-8 col-10 mb-5">
      <div class="card-body" onclick="location.href='<%= temples_reservations_month_path(temple_id: @temple.id) %>';">
        <div class="card-icon">
          <i class="fas fa-calendar-alt fa-5x" style='color:gold;'></i>
        </div>
        <div class="card-text">
          <p>カレンダー</p>
        </div>
      </div>
    </div>
    
    <div class="card management text-center col-lg-5 col-md-5 col-sm-8 col-10 mb-5">
      <div class="card-body" onclick="location.href='<%= temples_reservations_by_day_path(id: @temple.id, day: Time.zone.today) %>';">
        <div class="card-icon">
          <i class="fas fa-clock fa-5x" style='color:plum;'></i>
        </div>
        <div class="card-text">
          <p>スケジュール</p>
        </div>
      </div>
    </div>
    
  </div>

</div>