<div class="container">
  <div class="row col-7 mx-auto">
    
    <h2 class="text-center mt-5 mb-4">管理メニュー</h2>
    
    <%= link_to 'お知らせ管理', articles_path(temple_id: @temple.id) %>
    
    <%= link_to "ユーザー管理", temples_users_path(id: @temple.id) %>
    
    <%= link_to "予約管理", all_temples_reservations_path(id: @temple.id) %>
    
    <%= link_to "カレンダー", temples_reservations_month_path(id: @temple.id) %>
    
    <%= link_to "スケジュール", temples_reservations_by_day_path(id: @temple.id, day: Time.zone.today) %>
    
  </div>
</div>